@charset "utf-8";
.CLEAR_sf{
	clear:both;
	height:0px;
	padding:0px;
	margin:0px;
	_margin-top:-18px;}	

/* ewdna_art_180x250_374_L */
#sf_300npv15_bg{
	width:180px;/* 版面總寬度 改變總寬度修改此值 */
	font-family:Arial, Helvetica, sans-serif;
	}
	
.sf_300npv15_logo{
	font-size:12px;	
	line-height:14px;
	color:#9a9a9a;
	text-align:right;
	}	
	
.sf_300npv15_logo span{
	font-size:13px;	
	color:#900;}

.sf_300npv15_box{
	width:180px;/* 改變總寬度修改此值 */	
	float:left;/*清除底線用 不能消 */
	margin-bottom:4px;	
	}
	
.sf_300npv15_box:hover{
	background:#fcfcca;	
	}	
	
a .sf_300npv15_box{/*for ie6 */	
	cursor:pointer;
	text-decoration:none;}		
	
.sf_300npv15_box span{
	color:#F00;}		
	
.sf_300npv15_pic{
	width:35px;
	margin-bottom:4px;
	float:right;}
	
.sf_300npv15_pic img{
	border:none;}		
	
.sf_300npv15_tit{
	width:130px;/* 改變總寬度修改此值 */
	font-size:14px;
	line-height:18px;
	color:#0008aa;
	font-weight:bold;
	float:left;
	}	
	
a .sf_300npv15_tit {text-decoration:none;color:#0008aa;}
a:hover .sf_300npv15_tit {text-decoration:underline;color:#0008aa;}

.sf_300npv15_s{
	font-size:14px;
	line-height:18px;
	color:#000;
	text-decoration:none;}	
	
.sf_300npv15_w{
	font-size:13px;
	line-height:16px;
	color:#3f9e40;
	margin-bottom:2px;
	}

.sf_300npv15_line{
	height:0px;
	border-bottom:#b3b3b3 1px solid;
	margin:0 0 4px 0;
	_margin-top:-12px;}	
	  
/* ewdna_art_336x280_375_F */
#sf_300npv16_bg{
	width:336px;/* 版面總寬度 改變總寬度修改此值 */
	font-family:Arial, Helvetica, sans-serif;
	}
	
.sf_300npv16_logo{
	font-size:12px;	
	line-height:14px;
	color:#9a9a9a;
	text-align:right;
	}	
	
.sf_300npv16_logo span{
	font-size:13px;	
	color:#900;}

.sf_300npv16_box{
	width:336px;/* 改變總寬度修改此值 */	
	float:left;/*清除底線用 不能消 */
	margin-bottom:8px;	
	}
	
.sf_300npv16_box:hover{
	background:#fcfcca;	
	}	
	
a .sf_300npv16_box{/*for ie6 */	
	cursor:pointer;
	text-decoration:none;}		
	
.sf_300npv16_box span{
	color:#F00;}		
	
.sf_300npv16_pic{
	width:56px;
	margin-bottom:4px;
	float:right;}
	
.sf_300npv16_pic img{
	border:none;}		
	
.sf_300npv16_tit{
	width:266px;/* 改變總寬度修改此值 */
	font-size:22px;
	line-height:30px;
	color:#0008aa;
	font-weight:bold;
	margin-bottom:4px;
	float:left;
	}	
	
a .sf_300npv16_tit {text-decoration:none;color:#0008aa;}
a:hover .sf_300npv16_tit {text-decoration:underline;color:#0008aa;}

.sf_300npv16_s{
	font-size:15px;
	line-height:20px;
	color:#000;
	text-decoration:none;}	
	
.sf_300npv16_w{
	font-size:13px;
	line-height:16px;
	color:#3f9e40;
	margin-bottom:4px;
	}
	
.sf_300npv16_line{
	height:0px;
	border-bottom:#b3b3b3 1px solid;
	margin:1px 0 4px 0;
	_margin-top:-12px;}	
