@charset "utf-8";
.CLEAR_sf{
	clear:both;
	height:0px;
	padding:0px;
	margin:0px;
	_margin-top:-18px;}	

/* ewdna_art_180x250_374_L */
#sf_300npv15_bg{
	width:180px;/* 版面總寬度 改變總寬度修改此值 */
	font-family:Arial, Helvetica, sans-serif;
	}
	
.sf_300npv15_logo{
	font-size:12px;	
	line-height:14px;
	color:#9a9a9a;
	text-align:right;
	}	
	
.sf_300npv15_logo span{
	font-size:13px;	
	color:#900;}

.sf_300npv15_box{
	width:180px;/* 改變總寬度修改此值 */	
	float:left;/*清除底線用 不能消 */
	margin-bottom:4px;	
	}
	
.sf_300npv15_box:hover{
	background:#fcfcca;	
	}	
	
a .sf_300npv15_box{/*for ie6 */	
	cursor:pointer;
	text-decoration:none;}		
	
.sf_300npv15_box span{
	color:#F00;}		
	
.sf_300npv15_pic{
	width:35px;
	margin-bottom:4px;
	float:right;}
	
.sf_300npv15_pic img{
	border:none;}		
	
.sf_300npv15_tit{
	width:130px;/* 改變總寬度修改此值 */
	font-size:14px;
	line-height:18px;
	color:#0008aa;
	font-weight:bold;
	float:left;
	}	
	
a .sf_300npv15_tit {text-decoration:none;color:#0008aa;}
a:hover .sf_300npv15_tit {text-decoration:underline;color:#0008aa;}

.sf_300npv15_s{
	font-size:14px;
	line-height:18px;
	color:#000;
	text-decoration:none;}	
	
.sf_300npv15_w{
	font-size:13px;
	line-height:16px;
	color:#3f9e40;
	margin-bottom:2px;
	}

.sf_300npv15_line{
	height:0px;
	border-bottom:#b3b3b3 1px solid;
	margin:0 0 4px 0;
	_margin-top:-12px;}	
	  
/* ewdna_art_336x280_375_F */
#sf_300npv16_bg{
	width:336px;/* 版面總寬度 改變總寬度修改此值 */
	font-family:Arial, Helvetica, sans-serif;
	}
	
.sf_300npv16_logo{
	font-size:12px;	
	line-height:14px;
	color:#9a9a9a;
	text-align:right;
	}	
	
.sf_300npv16_logo span{
	font-size:13px;	
	color:#900;}

.sf_300npv16_box{
	width:336px;/* 改變總寬度修改此值 */	
	float:left;/*清除底線用 不能消 */
	margin-bottom:8px;	
	}
	
.sf_300npv16_box:hover{
	background:#fcfcca;	
	}	
	
a .sf_300npv16_box{/*for ie6 */	
	cursor:pointer;
	text-decoration:none;}		
	
.sf_300npv16_box span{
	color:#F00;}		
	
.sf_300npv16_pic{
	width:56px;
	margin-bottom:4px;
	float:right;}
	
.sf_300npv16_pic img{
	border:none;}		
	
.sf_300npv16_tit{
	width:266px;/* 改變總寬度修改此值 */
	font-size:22px;
	line-height:30px;
	color:#0008aa;
	font-weight:bold;
	margin-bottom:4px;
	float:left;
	}	
	
a .sf_300npv16_tit {text-decoration:none;color:#0008aa;}
a:hover .sf_300npv16_tit {text-decoration:underline;color:#0008aa;}

.sf_300npv16_s{
	font-size:15px;
	line-height:20px;
	color:#000;
	text-decoration:none;}	
	
.sf_300npv16_w{
	font-size:13px;
	line-height:16px;
	color:#3f9e40;
	margin-bottom:4px;
	}
	
.sf_300npv16_line{
	height:0px;
	border-bottom:#b3b3b3 1px solid;
	margin:1px 0 4px 0;
	_margin-top:-12px;}	



/* ewdna_tab */
.sf_728X250_1_bg{
	width:728px;/* 版面總寬度 改變總寬度修改此值 */
	height:250px;
	overflow:hidden;
	font-family:Arial, Helvetica, sans-serif;
	}
	
.sf_728X250_1_navbg{
	height:35px;
	background:url(image/bt01.gif) no-repeat;}
	
.sf_728X250_1_nav{
	text-align:center;
	width:120px;
	margin-top:14px;
	font-size:12px;
	height:21px;
	line-height:21px;
	float:left;
	}	
	
a .sf_728X250_1_nav {text-decoration:none;color:#fff;}
a:hover .sf_728X250_1_nav {text-decoration:none;color:#fff;}		
	
.sf_728X250_1_navo{
	text-align:center;
	width:120px;
	font-size:12px;
	height:35px;
	line-height:35px;
	float:left;
	}
	
a .sf_728X250_1_navo {text-decoration:none;color:#fff;}
a:hover .sf_728X250_1_navo {text-decoration:none;color:#fff;}	

.sf_728X250_1_boxbg{
	background:url(image/bg01.gif) repeat-y;
	height:207px;
	overflow:hidden;	
	}
	
.sf_728X250_picbg{
	background:url(image/pic_bg.gif) no-repeat;
	width:178px;
	height:178px;
	padding:10px 0 0 10px;
	margin:18px 0 0 50px;
	float:left;}

.sf_728X250_textbg{
	background:url(image/text_bg.gif) no-repeat;
	width:345px;
	height:205px;
	float:left;
	margin:2px 0 0 20px;
	padding:8px 0 0 65px;}
	
.sf_728X250_tit{
	font-size:15px;
	line-height:20px;
	color:#0008aa;
	margin-bottom:3px;
	width:320px;
	height:20px;
	overflow:hidden;
	}	
	
.sf_728X250_tit a{text-decoration:underline;color:#00F;}
.sf_728X250_tit a:hover{text-decoration:underline;color:#00F;}

.sf_728X250_s{
	font-size:12px;
	line-height:14px;
	color:#414141;
	text-decoration:none;
	width:320px;
	height:14px;
	overflow:hidden;
	margin-bottom:5px;}		

.sf_728X250_tit_hk{
	font-size:15px;
	line-height:20px;
	color:#0008aa;
	margin-bottom:1px;
	font-weight:bold;
	width:110px;
	height:20px;
	overflow:hidden;
	float:left;
	}	
	
.sf_728X250_s_hk{
	font-size:13px;
	line-height:20px;
	color:#b5626f;
	text-decoration:none;
	font-weight:bold;
	width:210px;
	height:20px;
	overflow:hidden;
	margin-bottom:1px;
	float:left;
	}
	
.sf_728X250_s_hk a{text-decoration:none;color:#b5626f;}
.sf_728X250_s_hk a:hover{text-decoration:none;color:#81789f;}


/* ewdna_tab_content_1 */
/* ewdna_tab_content_2 */
/* ewdna_tab_content_3 */
/* ewdna_tab_content_4 */
/* ewdna_tab_content_5 */
.sf_728X250_2_boxbg{
	height:207px;
	overflow:hidden;	
	}

.sf_728X250_2_textbg{
	background:url(image/text_bg.png) no-repeat;
	width:154px;
	height:164px;
	float:left;
	margin:10px 0 0 45px;
	_margin:10px 0 0 34px;
	padding:15px 15px 0 10px;}
	
a .sf_728X250_2_textbg {/*for ie6 */
	text-decoration:none;
	cursor:pointer;}		
	
.sf_728X250_2_tit{
	font-size:13px;
	line-height:20px;
	color:#0008aa;
	margin-bottom:5px;	
	}	
	
a .sf_728X250_2_tit {text-decoration:none;color:#C00;}
a:hover .sf_728X250_2_tit {text-decoration:none;color:#C00;}

.sf_728X250_2_s{
	font-size:12px;
	line-height:18px;
	color:#414141;		
	margin-bottom:10px;}
	
.sf_728X250_2_w{
	font-size:12px;
	line-height:12px;
	color:#1d2088;
	}	
	
.sf_728X250_2_logo{
	font-size:12px;	
	line-height:12px;
	color:#fff;
	text-align:right;
	padding-right:55px;
	}
	
.sf_728X250_2_logo a{text-decoration:none;color:#fff;}
.sf_728X250_2_logo a:hover{text-decoration:none;color:#fff;}
